/* Card.css */
.App-cards {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 50px;
}

.App-card {
  width: 100%;
  border-radius: 5px;
}

.App-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
