@import url(styles/Header.css);
@import url(styles/Footer.css);
@import url(styles/Card.css);

.App {
   text-align: center;

}



.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
